.info__center-top{
    margin-left: 20px;
}

.info__center-top{
    display: flex;
}

.info__center-top-img{
    margin-top: 20px;
    margin-right: 15px;
}

.info__center-bottom{
    margin-top: 0;
}

.info__center-img{
    margin-right: 20px;
}
